[Unit]
Description=simPit FGQCanvas starter
#Documentation=
#

[Service]
Type=simple
# temporary safety check until all DMs are converted to correct
# display-manager.service symlink handling
ExecStart=/home/pi/fgqcanvas2 canvas_738_upper_EICAS.json 
Restart=always
TimeoutStartSec=infinity
#BusName=org.freedesktop.DisplayManager


WorkingDirectory=/home/pi

[Install]
WantedBy=multi-user.target

