[Unit]
Description=simPit FGQCanvas starter
#Documentation=
#

[Service]
Type=simple

ExecStart=/home/pi/fgqcanvas -platform eglfs simpit/738_cdu.json 
Restart=always
TimeoutStartSec=infinity
Environment=QT_QPA_EGLFS_KMS_CONFIG=/home/pi/simpit/sim-cdu-kms-config.json 
WorkingDirectory=/home/pi

[Install]
WantedBy=multi-user.target

