[Desktop Entry]
Version=1.0
Type=Application
Terminal=true
Name=/home/simpit/simpit_git/run_canvas.sh
Categories=Application;
Icon=/home/simpit/FGFS/flightgear/package/flightgear.ico
